/*-------------------------------------------------
    [ ## Overlay Element ]
*/
.bg_img {
  background-size: cover;
  background-position: top;
	background-repeat: no-repeat !important; 
}
.bg-fixed {
	background-attachment: fixed;
}
.bg-overlay-base {
  position: relative;
  z-index: 2;
}
.bg-overlay-base:after {
  content: "";
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.bg-overlay {
  position: relative;
  z-index: 0;
}
.bg-overlay:after {
  content: "";
    position: absolute;
    background-color: #ffffff;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}