.footer-section {
    background-color: $white;
  }
  
  .footer-section .footer-text img {
    width: 150px;
    margin-bottom: 30px;
  }
  
  .footer-section .footer-social-icon span {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .footer-section .footer-social-icon a {
    font-size: 16px; 
    margin-right: 15px;
  }
  
  .footer-section .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  
  .footer-section .facebook-bg {
    background-color: #4267B2;
    color: $white;
  }
  
  .footer-section .twitter-bg {
    background-color:  #1DA1F2;
    color: $white;
  }
  
  .footer-section .instagram-bg {
    background-color: rgb(251, 173, 80);
    color: $white;
  }
  
  .footer-section .linkedin-bg {
    background-color: #0A66C2;
    color: $white;
  }
  
  .footer-section .footer-widget ul li {
    float: left;
    width: 50%;
    margin-bottom: 12px;
  }
  
  .footer-widget-heading{
    padding-bottom: 25px;
  }

  .footer-section .footer-widget ul li a {
    text-transform: capitalize;
    transition: all 0.6s;
    &:hover{
        color: $base--color;
    }
  }
  
  .footer-section .subscribe-form {
    position: relative;
    overflow: hidden;
  }
  
  .footer-section .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background-color: transparent;
    padding-right: 68px;
    border: 1px solid $border--base;
    color: rgb(0, 0, 0);
    border-radius: 999px;
    margin-top: 15px;
  }
  


 .footer-section .subscribe-form input::placeholder {
    color: rgba(1, 1, 1, 0.626);
 }
 
  .footer-section .subscribe-form button, .footer-section .subscribe-form input[type=button], .footer-section .subscribe-form input[type=reset], .footer-section .subscribe-form input[type=submit] {
    position: absolute;
    right: 0;
    background: $base--color;
    padding: 12px 20px;
    top: 15px;
    border-radius: 0 999px 999px 0;
  }
  
  .footer-section .subscribe-form button i, .footer-section .subscribe-form input[type=button] i, .footer-section .subscribe-form input[type=reset] i, .footer-section .subscribe-form input[type=submit] i {
    color: #ffffff;
    font-size: 22px;
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }
  
  .footer-section .copyright-area {
    padding: 15px 0;
  }
  
  .footer-section .copyright-text {
    border-top: 1px solid $border--base;
    padding-top: 15px;
  }
  
  .footer-section .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #242121;
  }
  
  .footer-section .copyright-text p a {
    color: $base--color;
    font-weight: 600;
  }
  
  .footer-section .footer-menu li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .footer-section .footer-menu li:hover a {
    color: #000000;
  }
  
  .footer-section .footer-menu li a {
    font-size: 14px;
    color: #000000;
  }